.time-range {
    padding-top: 20px;
}
.page-pagination {
    text-align: center;
}
.show_current_date {
    margin-top: 22px;
}
a.make_new, h3.title, div.portlet-title {
    display: inline-block;
}
.settings.d-none.d-sm-block {
    display: none !important;
}
div.card_wrap {
    margin: 10px 0;
    padding: 0 20px;
}
a.card_wrap {
    width: 100%;
    height: 100%;
    display: inline-block;
    /*border: 1px solid black;*/
    /*border-radius: 4px;*/
    padding: 0 10px;
}
.card_content_row {
    margin-top: 15px;
    line-height: 32px;
    border: 1px solid black;
    border-radius: 4px;
    /*padding: 0 10px;*/
    min-height: 62px;
    padding-top: 15px;
}
.no_data_found {
    text-align: center;
    display: inherit;
}


/* start ios radion button */
input.ios_checkbox[type="checkbox"] {
    display: none;
}
input.ios_checkbox[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 132px;
    height: 50px;
    background-color: #b62222;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
input.ios_checkbox[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 6px;
    right: 4px;
    transition: all 0.3s ease-out;
}
input.ios_checkbox[type="checkbox"] + label::after {
    content: attr(data-deny);
    color: white;
    position: absolute;
    top: 10px;
    left: 18px;
    font-size: 20px;
    font-weight: 300;
    transition: all 0.3s ease-out;
}
input.ios_checkbox[type="checkbox"]:checked + label {
    background-color: #519b00;
}
input.ios_checkbox[type="checkbox"]:checked + label::before {
    right: 90px;
}
input.ios_checkbox[type="checkbox"]:checked + label::after {
    content: attr(data-permit);
    left: 56px;
}
/* end ios radion button */

.footer-container {
    position: fixed;
    bottom: 0;
}